p {
    font-size: 5em;
    color: rgb(255, 0, 0); 
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
button {
    border-radius: 25px; font-size: 25px;background-color: purple;
}
body{
    background-color: aqua;
}
.chev1{
    color: red;
}